* {
  font-family: "Open Sans";
  font-size: medium;
}

.siteLink {
  color:black
}
/* animation */
.hover:hover {
  transform: scale(2);
  transition-duration: 0.5s;
}

.hoversm:hover {
  transform: scale(1.5);
  transition-duration: 1.5s;
}

.hovercard:hover {
  transform: scale(.9);
  transition-duration: 1s;
}
