* {
  font-family: "Open Sans";
  font-size: medium;
}

.siteLink {
  color:black
}
/* animation */
.hover:hover {
  transform: scale(2);
  transition-duration: 0.5s;
}

.hoversm:hover {
  transform: scale(1.5);
  transition-duration: 1.5s;
}

.hovercard:hover {
  transform: scale(.9);
  transition-duration: 1s;
}

.topend, html {
background-color:#6c757d ;
}

.my-pic {
	clip-path: circle();
  width: 250px;
}

p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

Card.body {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.resume:hover{
  transform:scale3d(1);
}

.topend{
  color:whitesmoke
}